<div id="mybody" class="wrapper no-bg-color">
    <header class="header new-page-style">
        <div class="heading-title-holder">
            <div class="alignLEFT">
                <span class="heading-title">Register</span>
            </div>
            <a class="registry-icon" ng-click="showCalendar()"></a>
        </div>
    </header>
    <div class="container_ROW">
        <div class="container">
            <div class="time-connect">
                <div class="time-holder-box">
                    <div class="detail-heading">
                        <em class="container-icon"><img src="images/clock-icon.png" alt="image"></em>
                        <span class="time-heading">Fixed Hours</span>
                    </div>
                    <ul class="schedule-holder">
                        <li><a class="day-title">Monday</a><span class="daytime-title">9am to 5pm</span></li>
                        <li class="dark"><a class="day-title">Tuesday</a><span class="daytime-title">9am to 5pm</span></li>
                        <li><a class="day-title">Friday</a><span class="daytime-title">9am to 5pm</span></li>
                        <li class="dark"><a class="day-title addmore-day" ng-click="showCalendar()">Add more hours</a></li>
                    </ul>
                </div>
                <div class="time-holder-box">
                    <div class="detail-heading">
                        <em class="container-icon"><img src="images/rulechart-icon.png" alt="image"></em>
                        <span class="time-heading">Special Rules</span>
                    </div>
                    <ul class="schedule-holder">
                        <li><span class="day-title">Vacation</span><span class="daytime-title">Sep 4 to Sep 9</span></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="footer_GROUP">
        <div class="footer_HOLDER">
            <div class="time-connect">
                <ul class="claim-holder">
                    <li><a href="#">Cancel</a></li>
                    <li><a class="active" href="#">ok</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>