<header class="header new-page-style">
    <div class="heading-title-holder"> <span class="heading-title-register">PLEASE TRY AGAIN</span> </div>
</header>
<div class="container_ROW">
    <div class="profile-connect">
        <div class="adderss-holder">
            <span class="address-icon"><img alt="image" src="images/address-icon2.png"></span>
            <span class="address-title">Oops. We ran into a problem. Please shut down and login again while we fix this. Thanks!</span>
        </div>
    </div>
</div>

<div class="footer_GROUP">
    <div class="footer_HOLDER">
        <a ng-click="kioskRegisterCancel()" class="login-btn-cancel2">Logout</a>
    </div>
</div>

